@import url("https://fonts.googleapis.com/css?family=Orbitron");
body {
    font-family: 'Orbitron', sans-serif;
}
.btn {
    width: 50px;
    height: 50px;
}
.calc-display p {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.mainWrap {
    width: 251px;
    height: 201px;
    margin: 0 auto;
    margin-top: 150px;
}
.mainWrap:focus {
    outline: none;
}
textarea.answer-text-area {
    width: 84%;
    margin-left: 22px;
}
.ui-page-active:focus {
  outline: none !important;
}
.equals {
  height: 107px;
  margin-top: -50px;
  transform: rotate(3deg);
}
.blinchik {
  margin-left: 10px;
}
.pirojok {
  margin-left: -3px;
}
.cheburek {
  margin-left: -48px;
}
